<h1>Afiliado</h1>
<div>
	<table>
		<tr>
			<td>Apellido Nombre:</td>
			<td><%=@afiliado.apellido_nombre %></td>
		</tr>
		<tr>
			<td>Tipo Documento:</td>
			<td><%=@afiliado.tipo_documento %></td>
		</tr>
		<tr>
			<td>Nro Documento:</td>
			<td><%=@afiliado.documento %></td>
		</tr>
	</table>
</div>
